<!DOCTYPE html>
<html lang="pt-br" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Acompanhar Solicitação</title>
    <link rel="stylesheet" href="css/estilo.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>


    <div id="app">
        <div class="navbar">
            <span class="logo">Central de Solicitações</span>
            <a href="index-vue.html">Início</a>
            <a href="solicitar-vue.html">Nova solicitação</a>
            <a href="acompanhar-vue.html">Acompanhar</a>
            <a href="atendente-vue.html">Atendente</a>
            <a href="gestor-vue.html">Gestor</a>
        </div>

    <h1>Acompanhar Solicitação</h1>

    <input type="text" v-model="protocoloDigitado">
    <button v-on:click="buscar">Buscar</button>

    <div v-if="encontrada">
        <p>Protocolo: {{ encontrada.protocolo }}</p>
        <p>Tipo: {{ encontrada.tipo }}</p>
        <p>Status: {{ encontrada.status }}</p>
        <p>Prioridade: {{ encontrada.prioridade }}</p>
        <p>Localização: {{ encontrada.localizacao }}</p>
        <p>Descrição: {{ encontrada.descricao }}</p>
        <p>Prazo: {{ encontrada.prazo }}</p>
    </div>

    <div v-if="naoEncontrado">
        <p>Protocolo não encontrado.</p>
    </div>

</div>

<script>
    const { createApp } = Vue;

    createApp({
        data() {
            return {
                protocoloDigitado: "",
                encontrada: null,
                naoEncontrado: false,
                solicitacoes: [
                    {
                        protocolo: "OS202561",
                        tipo: "DENUNCIA_BURACO",
                        status: "EM_ATENDIMENTO",
                        prioridade: "ALTA",
                        descricao: "Buraco grande na avenida",
                        localizacao: "Av Brasil",
                        prazo: "10/06/2026"
                    },
                    {
                        protocolo: "OS202562",
                        tipo: "SOLICITACAO_PODA",
                        status: "PENDENTE",
                        prioridade: "MEDIA",
                        descricao: "Árvore cobrindo o poste",
                        localizacao: "Rua das Flores",
                        prazo: "13/06/2026"
                    }
                ]
            };
        },
        methods: {
            buscar() {
                const achada = this.solicitacoes.find((s) => s.protocolo === this.protocoloDigitado);

                if (achada) {
                    this.encontrada = achada;
                    this.naoEncontrado = false;
                } else {
                    this.encontrada = null;
                    this.naoEncontrado = true;
                }
            }
        }
    }).mount("#app");
</script>
</body>
</html>