<!DOCTYPE html>
<html lang="pt-br" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="css/estilo.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<div id="app">

    <div class="navbar">
        <span class="logo">Central de Solicitações</span>
        <a href="index-vue.html">Início</a>
        <a href="solicitar-vue.html">Nova solicitação</a>
        <a href="acompanhar-vue.html">Acompanhar</a>
        <a href="atendente-vue.html">Atendente</a>
        <a href="gestor-vue.html">Gestor</a>
    </div>

    <h1>Cadastro de Usuário</h1>
    <form v-on:submit.prevent="cadastrar">
        <label>Nome</label>
        <input type="text" v-model="nome">

        <label>Email</label>
        <input type="email" v-model="email">

        <label>Senha</label>
        <input type="password" v-model="senha">

        <button type="submit">Cadastrar</button>
    </form>

    <p v-if="mensagem">{{ mensagem }}</p>

    <p v-if="cadastrado"><a href="solicitar-vue.html" class="link-botao">Fazer uma solicitação</a></p>

</div>

<script>
    const { createApp } = Vue;

    createApp({
        data() {
            return {
                nome: "",
                email: "",
                senha: "",
                mensagem: "",
                cadastrado: false
            };
        },
        methods: {
            cadastrar() {
                if (this.nome === "" || this.email === "" || this.senha === "") {
                    this.mensagem = "Preencha todos os campos.";
                    this.cadastrado = false;
                    return;
                }

                const novoUsuario = {
                    nome: this.nome,
                    email: this.email,
                    senha: this.senha,
                    tipo: "USUARIO_LOGADO"
                };

                this.mensagem = "Usuário cadastrado: " + this.nome;
                this.cadastrado = true;
            }
        }
    }).mount("#app");
</script>
</body>
</html>